In [29]:
#변수 선언과 동시에 값을 할당
a = 10
b = "test"

#두 변수를 출력
print(a)
print(b)

#두 변수의 데이터 형태 출력

print(type(a))
print(type(b))

10
test
<class 'int'>
<class 'str'>

In [4]:
#숫자 형태의 데이터에 ""로 묶어주면 문자열 데이터로 데이터 대입
c = "10"

print(c)
print(type(c))

10
<class 'str'>

In [7]:
# 산술 연산자
x = 7
y = 3

print(x+y,x-y,x*y,x/y,x//y,x%y,x**y)

10 4 21 2.3333333333333335 2 1 343

In [12]:
# 대입 연산자 
# +=, -=, *=, /=, //=, %=, **=
# 산술 연산자와의 차이는 기준이 되는 변수의 데이터를 변경
x=7
print(x)
x += 1 
print (x)
x-= 3 
print(x)
x*= 2 
print(x)
x /= 3
print(x)        
print(x+2)
print(x)   #위의 x+2는 x에 2를 더한 값을 출력할 뿐 x 데이터의 변화는 없다

7
8
5
10
3.3333333333333335
5.333333333333334
3.3333333333333335

In [14]:
# 비교 연산자
# 데이터의 비교를 하여 논리값을 출력
# 논리값 bool의 형태 (True, False)
x=7
y=3

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

In [16]:
# and, or, not 
# and : 두 조건이 모두 참인 경우에 참, 나머지의 경우는 모두 거짓
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [20]:
#or : 두 조건중 하나만 참이면 참을 출력, 두 조건이 모두 거짓인 경우에만 거짓을 출력

print(True or True)
print(True or False)
print(False or False)

#not : True는 False로 False는 True로 출력
print(not(True))

True
True
False
False

In [23]:
# 조건문 
# if문 1. if 뒤의 조건식이 참인 경우 코드가 실행.
#      2. 조건식이 거짓인 경우 코드가 실행되지 않는다.
#      3. 거짓인 경우 코드를 실행하려면 else 구문이 필요.
#      4. 조건식이 여러개인 경우 elif 조건식의 형태로 구문을 만들어준다.

a=5 

#a가 10보다 작은경우 첫번쨰 print 실행, a가 10보다 크거나 같은 경우 첫번째 print 실행 x 

if a < 10 : 
    print("a는 10보다 작다")

print ("프로그램 종료")

#a가 15일 경우 프로그램 종료만 나온다. -> 들여쓰기 밖에 되어 있기 때문, 들여 쓰기 안으로 넣으면 아무런 결과값이 나오지않음.

a는 10보다 작다
프로그램 종료

In [28]:
#if ~ else문
a = 15 
if a < 10 :
    print ("a는 10보다 작다")
else : 
    print("a는 10보다 크거나 같다")
print("프로그램 종료")

a는 10보다 크거나 같다
프로그램 종료

In [31]:
score = int(input("점수를 입력하시오"))

if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')

print("프로그램 종료")

A
프로그램 종료

In [37]:
#반복문 
#range (시작값, 종료값, 증가값)
print(list(range(1,11,1)))
print(list(range(1,11,2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [41]:
#for문
for i in range(1,11,1):
    print(i) #들여쓰기하는 부분을 반복
print("프로그램 종료")
    
    #둘의 차이 알기

for i in range(1,11,1):
    print(i) #들여쓰기하는 부분을 반복
    print("프로그램 종료")

1
2
3
4
5
6
7
8
9
10
프로그램 종료
1
프로그램 종료
2
프로그램 종료
3
프로그램 종료
4
프로그램 종료
5
프로그램 종료
6
프로그램 종료
7
프로그램 종료
8
프로그램 종료
9
프로그램 종료
10
프로그램 종료

In [45]:
for i in range(10):
    print(i)

for i in range(10,1,-2):
 print (i)

0
1
2
3
4
5
6
7
8
9
10
8
6
4
2

In [47]:
# 1 부터 10까지의 합계를 구하시오 
# 10번 반복
#초기의 합계 값 지정
result = 0

#반복문 시작
for i in range(1,11,1):
    #합계 값에 i을 더해준다
    result = result + i # result += i 와 같음
    print(result)

1
3
6
10
15
21
28
36
45
55

In [55]:
# 1부터 50까지의 합계를 구한다.
# 1부터 50까지의 짝수 합계만 구하는 방법은 ? 
result = 0
for i in range(2,51,2):
    result = result + i
    print(result) 

#case 1 (for문)
result= 0
for i in range(2,51,2):
     result += i 
print(result)

#case 2 (for문 if문)
result = 0 
for i in range(1,51,1):
    #짝수 조건: 2로 나눴을떄 나머지가 0
    if i % 2 == 0:
          result += i  
print(result)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
650
650

In [57]:
# 주사위 2개를 굴려서 두 주사위의 합계가 5의 배수인 경우를 출력하시오
# 경우의 수 : 36번 -> 6번의 경우의 수 * 6번 경우의 수 
# 다중 for문 , if 문 사용

for i in range(1,7,1): # 첫번째 주사위 경우의 수 
     
    for j in range(1,7,1): # 두번째 주사위 경우의 수 
        sum =  i + j   # 두 주사위의 합게 = 5 
        # 조건 : 5의 배수인 경우
        if sum % 5 == 0 : 
            print(i,j)

1 4
2 3
3 2
4 1
4 6
5 5
6 4

In [66]:
### 문제 : 페르마의 마지막 정리를 증명하시오. 
# a**n + b**n = c**n 이 수식에서 n의 값이 2보다 큰 자연수이면 a, b, c의 자연수의 값은 존재하지 않는다.
# n의 값이 3인 경우 a, b, c 가 1 부터 10까지 이 정리가 사실임을 증명하시오. 

# 다중 for문과 if문 사용

for a in range(1, 11):
    for b in range(1, 11):
        for c in range(1, 11):
            if a ** 3 + b ** 3 == c ** 3:
                answer = print(a , b , c)
                if answer == False :
                    print("답이 없음")

In [68]:
#풀이 

#1부터 10까지의 반복문 생성
for a in range(1,11):
    # 2. 이러한 반복문 a, b, c, 10번씩 반복
    for b in range(1,11):
        for c in range(1,11):
            # 1000번 반복하는 반복문 생성
            # 조건 생성 -> a**n + b**n == c**n
            if a**3 + b**3 == c**3:
                print(a, b, c)
print("페르마의 정리 증명을 종료")

페르마의 정리 증명을 종료

In [71]:
# while 문 

# 초기값 지정
i = 0

while i < 10:
    print(i)
    i += 1

# 차이 알기
i = 0 

while i < 10:
    i += 1 
    print(i)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10

In [73]:
result = 0
i = 1 
while i <= 10:
    result += i
    i += 1
print(result)

55

In [76]:
#continue , break 
# continue 반복문으로 돌아간다
# break 반복문 종료

for i in range (1, 11, 1):
    if i < 3:
        continue
    print(i)

3
4
5
6
7
8
9
10

In [80]:

while i < 11:
    print (i)
    if i == 7 :
        break
    i += 1

In [84]:
### 문제 
# 1부터 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는?
# 합계라는 변수를 하나 지정 0 을 대입
# for, while문을 사용하여 1부터 1000까지의 합계를 구하는 반복문 생성
# 합계가 900이 넘는 순간 break
# break 당시의 i 값을 출력

total = 0
for i in range(1, 1001):
    total += i
    if total > 900:
        print(i)
        break

42

In [89]:
#풀이 

#합계변수생성 

result = 0 

# for문
for i in range(1, 1001, 1 ): 
    result += i
    # 합계가 900이 넘어가면 반복문 종료
    if result > 900 :
        print(i) # if 절 밖에 적어도 break가 이미 멈췄기 때문에 i 값 똑같이 나옴. 
        break
print(result)

42
903

In [94]:
# while문

result = 0 
#초기값 지정
i = 1

while i <= 1000: 
    
    result += i
    
    if result > 900 :
        break
    
    i += 1

print(i)
print (result)

42
903

In [103]:
a = (4, "Hello")
b = (3, 3.14)
c = a + b
d = a *3 

print(a,b,c,d)


# 튜플과 같은 여러개의 원소를 담아내고 있는 변수들은 위치 값으로 각각의 원소를 출력할 수 있다.

print(a[0])

print(a[1][0])

(4, 'Hello') (3, 3.14) (4, 'Hello', 3, 3.14) (4, 'Hello', 4, 'Hello', 4, 'Hello')
4
H

In [107]:
a= (10, 20, 30, 40, 50)

# 2번째 원소부터 4번쨰 원소까지 출력

print(a[1:4]) # 4번째 전까지

print(a[1:]) # 2번쨰부터 마지막까지

(20, 30, 40)
(20, 30, 40, 50)

In [110]:
#list 

a = [20, 10, 40, 30]
b = [10, 20, 30, 40]

# a 리스트의 순서를 오름차순으로 변경

a.sort()

# b 리스트의 순서를 역순으로 변경

b.reverse()


print(a,b)

# a 리스트에서 마지막 항목 삭제 

a.pop()

# b 리스트에 22라는 항목을 마지막 항에 추가 

b.append(22)

print (a,b)

[10, 20, 30, 40] [40, 30, 20, 10]
[10, 20, 30] [40, 30, 20, 10, 22]

In [116]:
x = []

for i in range(1,11,1):
    x.append(i)
    
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
y = [30, 20, 80, 10]

for i in y : 
    print(i)

for i in range(0, len(y),1):
    print(y[i])

30
20
80
10
30
20
80
10

In [128]:
#1부터 70까지 숫자들 중에 3의 배수를 리스트의 형태로 만들어서 출력

#비어있는 리스트 생성

list = []

#1~70 까지 반복문 생성
for i in range(1,71,1):
    #1부터 70까지 값들 리스트에 추가
    if i % 3 == 0: # i 값이 3의 배수인 경우
        list.append(i)
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [132]:
#while문인 경우

list = []
i=1

while i <= 70:
    if i % 3 == 0:
     list.append(i)
    i += 1 
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [138]:
#딕셔너리 (사전형 데이터)

dict = {'name' : 'test', 'age' : 20, 'phone' : '01012345678'}

print (dict)

#test라는 단어 출력을 하려면 ?

print(dict['name']) # 딕셔너리 형태에선 위치로 값을 출력 불가능

# 새로운 키 : 밸류 를 추가 
# 그냥 새로운 키값을 입력

dict['area'] = 'seoul'

print(dict)

# 기존의 키 값에 있는 밸류를 수정
dict['age']= 30

print (dict)

# 키 값을 삭제

del(dict['phone'])

print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678'}
test
{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}
{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'seoul'}
{'name': 'test', 'age': 30, 'area': 'seoul'}

In [146]:
# DB와 python 을 연동하여 데이터를 받으면 데이터 형태 [{}, {}] -> 리스트안에 딕셔너리 형태

test_data = [
    {
        "name" : "test",
        "age" : 20
    }, 
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 25
    }
]

print(len(test_data))



print(test_data[1]["name"])

3
test2

In [163]:
#test_data에서 연령대가 20대인 사람의 이름을 리스트로 출력하시오
# 비어있는 리스트 생성 , test_data 항목들을 반복문을 통해 출력 , 각 항목들의 나이를 출력, 조건을 생성해
# 연령대가 20대인 값을 출력, 20대인 항목에서 이름값만 출력, 해당하는 이름들을 리스트에 추가


list = []


#두 방식 가능
for i in test_data : 
    if i['age'] >= 20 and i['age'] < 30 :
        list.append(i['name'])
print(list)

['test', 'test3']